.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: fixed;
  left: 50px;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 999;
  /* width: 32px; */
  height: 32px;
  padding: 0 8px;
  background-color: black;
  border-radius: 16px;
  cursor: pointer;
  color: white;
}
